<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Dashboard</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= user.fullName %> <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/admin/shop/"><i class="fa fa-building fa-fw"></i> Shop</a>
                </li>
                <li>
                    <a href="/admin/product/list"><i class="fa fa-shopping-bag fa-fw"></i> Products</a>
                </li>
                <% if(user.corpId=='Super Admin') { %>
                <li>
                    <a href="/admin/corporate/list"><i class="fa fa-building  fa-fw"></i> Corporate</a>
                </li>
                <li>
                    <a href="/admin/payment/add"><i class="fa fa-money fa-fw"></i> Payment</a>
                </li>
                <% } else  {%>
                  <% if(user.role=='Admin') { %>
                    <li>
                      <a href="/admin/corporateemp/detail?corpId=<%=user.corpId%>"><i class="fa fa-building fa-fw"></i> Corporate</a>
                    </li>
                    <li>
                      <a href="/admin/corporateuser/list?corpId=<%=user.corpId%>"><i class="fa fa-user-circle fa-fw"></i> User</a>
                    </li>
                    <li>
                      <a href="/admin/project/list?corpId=<%=user.corpId%>"><i class="fa fa fa-trophy fa-fw"></i> Project</a>
                    </li>
                    <li>
                      <a href="/admin/mapfloor"><i class="fa fa fa-grav fa-fw"></i> Map Floor</a>
                    </li>
                  <% } %>
                <% } %>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
